<!--<div class="main-content" id="profileContent">
<div class="container-fluid">

        
         
                <div *ngIf="caredone" class="card card-stats">
                        <div class="card-header" style="border-radius: 50%; width: 90px; height: 90px; padding: 1px; background-color:#fff; ">
                            <img src="{{caredone.avatar}}" style="border-radius: 50%; width: 88px; height: 88px;">
                        </div>
                        <div class="card-content">  
                             <h5 class="title">{{caredone.firstName}}<br/><small> Details</small></h5>
                        
        
          
            </div>
            <div class="card-footer">
                  <button class="btn btn-round" id="profileButton2" (click)="profileButton()" style="width: 45%; color:#fff"><i class="material-icons">account_box</i>Profile</button>   
                  <button class="btn btn-round"  id="prescriptionButton2" (click)="prescriptionButton()" style="width: 45%; color:#fff"><i class="material-icons">library_books</i>Notes</button>   
                  <button class="btn btn-round"  id="planButton2" (click)="planButton()" style="width: 45%; color:#fff"><i class="material-icons">work</i>Plan Items</button>   
                  <button class="btn btn-round"  id="reportButton2" (click)="reportButton()" style="width: 45%; color:#fff"><i class="material-icons">content_paste</i>Reports</button>   
     </div>  
                </div>
                </div>
     <div *ngIf="patientDetails" style="margin-top: -70px;">
    <app-PatientDetailsFormComponent></app-PatientDetailsFormComponent>
     </div>

     <div *ngIf="prescriptionPad" style="margin-top: -70px;">
    <app-jobs-master></app-jobs-master>
     </div>

      <div *ngIf="planSection" style="margin-top: -70px;">
    <table-cmp></table-cmp>
     </div>
    <div *ngIf="reportSection" style="margin-top: -70px;">
    <weeklyreports-cmp></weeklyreports-cmp>
     </div>
  
  
</div>-->
<out-patients-form></out-patients-form>