 <div class="main-content" id="profileContent">
    <div class="container-fluid">
 <div class="col-md-12">
         
                <div *ngIf="dataReady" class="card" style="margin-top: 30px;">
                 
                    
         <div *ngIf="caredone.avatar" class="card-header" data-background-color="cureyo">               
 <div class="card-header" style="border-radius: 50%; width: 90px; height: 90px; padding: 1px; background-color:#fff; float:left;">
                            <img src="{{caredone.avatar}}" style="border-radius: 50%; width: 88px; height: 88px;">
                        </div>
          

       <div>
    

                        <h4 class="title">{{caredone.firstName}} {{caredone.lastName}}
                            
                        
                        <a class="btn btn-round pull-right" (click)="checkOutPatient();">Check-out Patient</a>
                        <br>
                        <small style="font-weight: 300; color: #fff;">Patient # {{this.currentQ}}</small></h4>
         </div>
                    </div> <!-- card header portion end-->
                    
              <div class="card-content table-responsive">
                  <h4 *ngIf="caredone.videoConsultId" style="color: #137a9c"><b>Video Consultation Window</b></h4>
                  
                  <video-call-cmp *ngIf="caredone.videoConsultId" [videoCon]="caredone.videoConsultId"></video-call-cmp>
                  <br>
                  <a class="btn btn-round btn-warning pull-left" (click)="pform.showReportModal2(caredone.uid)">View All Reports</a>
                  <br>
                  <hr/>
                  
                  <care-timeline-cmp [caredoneId]="caredone.uid" [doctorId]="currentUserID"></care-timeline-cmp>
                  <hr/>
                  <h4 style="color: #137a9c"><b>Patient Medical History</b>
                  <br>
                  <small *ngIf="hasHx" >For: {{primeSymptom}}</small>
                  <small *ngIf="!hasHx" >No Medical History recorded</small></h4>
                     <div *ngIf="hasHx" class="row">

<div *ngIf="hasDeviations" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="red">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        close</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Deviations
        
          </h3>
          <br>
          <hr>
       
                <div style="width: 100%;" *ngFor="let item of hasDeviationsHistory">
             
        <div style="text-align:left;">
 
        <h3 class="title" style="float: left; color: #137a9c; font-size: 12px; font-weight: 400; line-height: 16px;"> 
        {{item.question}}
          </h3>
        </div>
        <br>
        <div style="text-align:left;">
            <span class="label label-round label-warning">{{item.response}}</span>
        </div>
        <hr>
       </div>
    </div>  
</div>
</div>
<div *ngIf="hasOther" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="orange">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        edit</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #666; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         <b>Other Answers</b>
          </h3>
        <br>
          <hr>
        <div *ngFor="let item of hasOtherHistory">
           
        <div style="text-align:left;">
 
        <h3 class="title" style="float: left; color: #137a9c; font-size: 12px; font-weight: 400; line-height: 16px;"> 
        {{item.question}}
          </h3>
        </div>
        <br>
        <div style="text-align:left;">
            <span style="white-space: pre-line;" class="label label-info">{{item.response}}</span>
        </div>
         <hr>
       </div>
    </div>  
</div>
</div>
<div *ngIf="hasNormal" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="green">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        check</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Normal
          </h3>
           <br>
          <hr>
       <div  *ngFor="let item of hasNormalHistory">
       
   <div style="text-align:left;">
 
        <h3 class="title" style="float: left; color: #137a9c; font-size: 12px; font-weight: 400; line-height: 16px;"> 
        {{item.question}}
          </h3>
        </div>
        <br>
        <div style="text-align:left;">
            <span class="label label-success">{{item.response}}</span>
        </div>
         <hr>
       </div>
    </div>  
</div>
</div>
                     </div>
                     <!--*****************************charts*******************************************-->
                       <h4 style="color: #137a9c"><b>Patient Fitness</b></h4>

<!--*****************************Height and Weight*******************************************-->               
          <!-- card for height and weight-->                     
            <div class="row">
                 <!-- height-->
                 <div class="col-md-4" *ngIf="height && heightUnit">  
                    <div class="card card-stats" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                    
                        <div class="card-header" style="width: 90px; height: 90px; padding: 1px;" data-background-color="cureyo">
                        <i class="material-icons" style="border-radius: 4px; width: 88px; height: 88px; line-height:88px; color: #fff;">vertical_align_top</i>
                        <!--<img src="{{caredone.avatar}}" style="border-radius: 4px; width: 88px; height: 88px;">-->
                        </div>

                        <div class="card-content">
                         <h3 class="title">{{height}} {{heightUnit}}
                        <br><small>Height</small></h3>

                        </div>
                 </div>  
                 </div>  
                 <!--weigth-->
                 <div class="col-md-4" *ngIf="weight && weightUnit">  
                    <div class="card card-stats" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                    
                        <div class="card-header" style="width: 90px; height: 90px; padding: 1px; " data-background-color="cureyo">
                        <i class="material-icons" style="border-radius: 4px; width: 88px; height: 88px; line-height:88px;  color: #fff;">settings_input_svideo</i>
                        <!--<img src="{{caredone.avatar}}" style="border-radius: 4px; width: 88px; height: 88px;">-->
                        </div>

                        <div class="card-content">
                         <h3 class="title">{{weight}} {{weightUnit}}
                        <br><small>Weight</small></h3>

                        </div>

                    </div>
                 </div>            
            </div>
<!--*****************************Height and Weight*******************************************-->
          
                     
                     <!-- this is row it will containt 3 charts at least-->
                       <div class="row">
                            <div class="col-md-4" *ngIf="activitySummarytitle && activitySummaryTrimedtitle &&activitySummaryDate &&activitySummaryAverage">  
                                <div class="card" >
                                    <div class="card-header card-chart" data-background-color="cureyo">
                                            <div class="ct-chart" id="{{activitySummarytitle}}"></div>
                                            </div>
                                    <div class="card-content">
                                            <h5 class="title">{{activitySummaryTrimedtitle}} (in Cals)</h5>
                                            <p  class="category">{{activitySummaryDate}}</p>
                                    </div>
                                    <div class="card-footer">
                                            <div  class="stats">
                                            Average burn <b> {{activitySummaryAverage}} calories/ day </b>  
                                            </div>
                                    </div>
                                </div>
                            </div>
                             
                           

                            <div class="col-md-4" *ngIf="hrSummarytitle && hrSummaryTrimedtitle">  
                                <div class="card" >
                                    <div class="card-header card-chart" data-background-color="cureyo">
                                            <div class="ct-chart" id="{{hrSummarytitle}}"></div>
                                            </div>
                                    <div class="card-content">
                                            <h5 class="title">Heart Rate (in BPM)</h5>
                                            <p  class="category">{{hrSummaryDate}}</p>
                                    </div>
                                    <div class="card-footer">
                                            <div  class="stats">
                                            Average <b>{{hrSummaryAverage}} BPM</b>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="sleepSummarytitle">  
                                <div class="card" >
                                    <div class="card-header card-chart" data-background-color="cureyo">
                                            <div class="ct-chart" id="{{sleepSummarytitle}}"></div>
                                            </div>
                                    <div class="card-content">
                                            <h5 class="title">Sleep (in mins)</h5>
                                            <p  class="category">{{sleepSummaryDate}}</p>
                                    </div>
                                    <div class="card-footer">
                                            <div  class="stats">
                                            Average Sleep <b>{{sleepSummaryAverage}} hours/ day</b>
                                            </div>
                                    </div>
                                </div>
                            </div>

                      </div>
    <!-- end of the row-->
    <!--************************Charts**************************************************-->
                     <h4 style="color: #137a9c"><b>Patient Demographics</b></h4>
              <div class="row">

<div *ngIf="hasAge" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        perm_identity</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Age
          </h3>
       
        <div style="text-align:left;">
   <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"> <small ><b>{{age}} years</b></small></p>
        </div>
    </div>  
</div>
</div>

<div *ngIf="hasHometown" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        account_balance</i>

        </div>
    <div class="card-content">
      <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Hometown
          </h3>
       
        <div style="text-align:left;">
   <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"> <small ><b>{{hometown}}</b></small></p>
        </div>
    </div>  
</div>
</div>

<div *ngIf="hasLocation" class="col-sm-4">
<div class="card card-stats" >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        room</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Location
          </h3>
       
        <div style="text-align:left;">
   <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"> <small ><b>{{location}}</b></small></p>
        </div>
       
       
    </div>  
</div>
</div>
<div *ngIf="hasEducation" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                         school</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400;"> Education History
        </h3>
        <div style="text-align:left;" *ngFor="let school of education">
   <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"> <small ><i *ngIf="school.school">{{school.school.type}}</i> <b *ngIf="school.school">{{school.school.name}}</b> <i *ngIf="school.concentration">{{school.concentration[0].name}}</i></small></p>
        </div>
    </div>  
</div>
</div>
<div *ngIf="hasWork" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        people</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400;"> Working History
        </h3>
        <div style="text-align:left; " *ngFor="let job of work">
       <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"><small><i *ngIf="job.position">{{job.position.name}}</i> <b *ngIf="job.employer">{{job.employer.name}}</b> <i *ngIf="job.location">{{job.location.name}}</i></small></p>
        

    </div>  
</div>
</div>
</div>
              </div>
              <a class="btn btn-round pull-right" (click)="checkOutPatient();">Check-out Patient</a>
              </div>
             
              
              <div class="card-footer">
                    <a class="pull-left" style="cursor: pointer; margin:10px;" (click)="previousPatient()">< Previous </a>
                        <a class="pull-right"  style="cursor: pointer;margin:10px;" (click)="nextPatient()"> Next > </a>
              </div>
                </div>
 </div>
 

<!--<app-PatientDetailsFormComponent></app-PatientDetailsFormComponent>-->
</div>
 </div>
    <div class="modal fade" id="reportsModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" style="height: 100%; z-index:10000; background: rgba(0,0,0,0.5);">
  <div class="modal-dialog" role="document"  style="position: relative; margin-top: 20px;">
    <div class="modal-content" id="reportsModal2">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="pform.closeReportModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="float: left;"><b>Please find the reports below</b></h4>
      </div>
        <div *ngFor="let report of pform.healthReports" class="modal-body" >
            <hr>
        <p  style="text-align: left;">
     
         <b> {{report.Description}}</b>
  
         </p>
        

        <p style="text-align: left;">Uploaded by {{report.addedFName}} on {{report.updatedDate}}</p>
       <img src="{{report.fileUrl}}" style="width: 100%;">
    
        
      </div>
      <div class="modal-footer" style="padding-bottom: 20px;">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="preview.prescriptionButton()">Add a Note</button>
        <button type="button" class="btn btn-default" (click)="pform.closeReportModal()">Close</button>
      </div>
    </div>
  </div>
    </div>
  <div class="modal fade" id="carePlansModal3" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" style="height: 100%; z-index:10000; background: rgba(0,0,0,0.5);">
  <div class="modal-dialog" role="document"  style="position: relative; margin-top: 20px;">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeCarePlanModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="float: left;"><b>Assign a Care Plan</b></h4>
      </div>
      <br>
      <hr>
      <div class="modal-body">
      <form [formGroup]="carePlanForm" class="form">
                          <div class="row">
                            <div class="card">
                                <div class="card-content">
                                    <div *ngIf="patientPathsExist">
                                         <p ><b>Assigned Plans</b></p>
                                    <div *ngFor="let care of patientExistingPaths" class="card" style="margin-top: 10px;">
                                        <div class="card-content">
                                        <label class="label-round label-warning" style="color: white;">{{care.name.path}}</label> assigned on <label class="label-round label-info" style="color: white;">{{care.activatedOn}}</label> subscribed on <label class="label-round label-warning" style="color: white;">{{care.plan}} Plan</label>
                                    </div>
                                    </div>
                                    </div>
                                   <hr>
                                <div class="form-group form-black label-floating is-not-empty">
                                    <div class="form-group">
                                    <label class="control-label">Assign a Care Plan</label>
                                      <select formControlName="formname" class="form-control" >
      <option [attr.selected]="" value="{{j.$key}}" *ngFor="let j of pform.carePathsAvlbl">{{j.path}}</option>
    </select>
                                    </div>
                                </div>
                               
                          <a (click)="pform.saveCarePlan(patientId, carePlanForm.controls['formname'].value, caredone.firstName, clinicIDNew)" class="btn btn-round btn-warning">Assign Care Path</a>
  </div>
                               
                            </div>
                            <a (click)="showCarePathsAdd()" style="cursor: pointer;" >Show / Add Care Paths</a>
                          </div>
 </form>
      
      <care-paths-cmp *ngIf="showPaths"></care-paths-cmp>
      <div class="modal-footer" style="padding-bottom: 20px;">
       
        <button type="button" class="btn btn-default" (click)="closeCarePlanModal()">Done</button>
      </div>
      </div>
    </div>
  </div>
  
</div>