 <div class="main-content">
    <div class="container-fluid">
 <div class="col-md-12">
                <div *ngIf="dataReady" class="card" style="margin-top: 30px;">
                  
                    <div *ngIf="caredone.avatar" class="card-header" data-background-color="blue">
                         <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 10px;">

<img tyle="float: left; width: 50px; height: 50px; padding: 0; border-radius: 10px;" src="{{caredone.avatar}}" >
          

        </div>
                        <h4 class="title">{{caredone.firstName}} {{caredone.lastName}}
                            <br>
                        <small style="font-weight: 300; color: #fff;">Patient # {{this.currentQ}}</small></h4>
                       
                    </div> <!-- card header portion end-->
                    
              <div class="card-content table-responsive">
                  <h4 style="color: #137a9c"><b>Patient Medical History</b>
                  <br>
                  <small>For: {{primeSymptom}}</small></h4>
                     <div class="row">

<div *ngIf="hasDeviations" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="red">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        close</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Deviations
        
          </h3>
          <br>
          <hr>
       
                <div style="width: 100%;" *ngFor="let item of hasDeviationsHistory">
             
        <div style="text-align:left;">
 
        <h3 class="title" style="float: left; color: #137a9c; font-size: 12px; font-weight: 400; line-height: 16px;"> 
        {{item.question}}
          </h3>
        </div>
        <br>
        <div style="text-align:left;">
            <span class="label label-round label-warning">{{item.response}}</span>
        </div>
        <hr>
       </div>
    </div>  
</div>
</div>
<div *ngIf="hasOther" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="orange">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        edit</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #666; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         <b>Other Answers</b>
          </h3>
        <br>
          <hr>
        <div *ngFor="let item of hasOtherHistory">
           
        <div style="text-align:left;">
 
        <h3 class="title" style="float: left; color: #137a9c; font-size: 12px; font-weight: 400; line-height: 16px;"> 
        {{item.question}}
          </h3>
        </div>
        <br>
        <div style="text-align:left;">
            <span class="label label-info">{{item.response}}</span>
        </div>
         <hr>
       </div>
    </div>  
</div>
</div>
<div *ngIf="hasNormal" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="green">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        check</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Normal
          </h3>
           <br>
          <hr>
       <div  *ngFor="let item of hasNormalHistory">
       
   <div style="text-align:left;">
 
        <h3 class="title" style="float: left; color: #137a9c; font-size: 12px; font-weight: 400; line-height: 16px;"> 
        {{item.question}}
          </h3>
        </div>
        <br>
        <div style="text-align:left;">
            <span class="label label-success">{{item.response}}</span>
        </div>
         <hr>
       </div>
    </div>  
</div>
</div>
                     </div>
<!--*****************************Height and Weight*******************************************-->               
          <!-- card for height and weight-->                     
            <div class="row">
                 <!-- height-->
                 <div class="col-md-4" *ngIf="height && heightUnit">  
                    <div class="card card-stats" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                    
                        <div class="card-header" style="width: 90px; height: 90px; padding: 1px; background-color:#fff; ">
                        <i class="material-icons" style="border-radius: 4px; width: 88px; height: 88px;">content_copy</i>
                        <!--<img src="{{caredone.avatar}}" style="border-radius: 4px; width: 88px; height: 88px;">-->
                        </div>

                        <div class="card-content">
                         <h3 class="title">{{height}} {{heightUnit}}
                        <br><small>Height</small></h3>

                        </div>
                 </div>  
                 </div>  
                 <!--weigth-->
                 <div class="col-md-4" *ngIf="weight && weightUnit">  
                    <div class="card card-stats" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                    
                        <div class="card-header" style="width: 90px; height: 90px; padding: 1px; background-color:#fff; ">
                        <i class="material-icons">content_copy</i>
                        <!--<img src="{{caredone.avatar}}" style="border-radius: 4px; width: 88px; height: 88px;">-->
                        </div>

                        <div class="card-content">
                         <h3 class="title">{{weight}} {{weightUnit}}
                        <br><small>Weight</small></h3>

                        </div>

                    </div>
                 </div>            
            </div>
<!--*****************************Height and Weight*******************************************-->
            <h4 style="color: #137a9c"><b>Patient Fitness</b></h4>
<!--*****************************charts*******************************************-->
                     
                     <!-- this is row it will containt 3 charts at least-->
                       <div class="row">
                            <div class="col-md-4" *ngIf="activitySummarytitle && activitySummaryTrimedtitle &&activitySummaryDate &&activitySummaryAverage">  
                                <div class="card" >
                                    <div class="card-header card-chart" data-background-color="cureyo">
                                            <div class="ct-chart" id="{{activitySummarytitle}}"></div>
                                            </div>
                                    <div class="card-content">
                                            <h5 class="title">{{activitySummaryTrimedtitle}}</h5>
                                            <p  class="category">{{activitySummaryDate}}</p>
                                    </div>
                                    <div class="card-footer">
                                            <div  class="stats">
                                            Average {{activitySummaryAverage}} calories/Day.  
                                            </div>
                                    </div>
                                </div>
                            </div>
                             
                           

                            <div class="col-md-4" *ngIf="hrSummarytitle && hrSummaryTrimedtitle">  
                                <div class="card" >
                                    <div class="card-header card-chart" data-background-color="cureyo">
                                            <div class="ct-chart" id="{{hrSummarytitle}}"></div>
                                            </div>
                                    <div class="card-content">
                                            <h5 class="title">Heart Rate</h5>
                                            <p  class="category">{{hrSummaryDate}}</p>
                                    </div>
                                    <div class="card-footer">
                                            <div  class="stats">
                                            Average {{hrSummaryAverage}} calories/Day.  
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="sleepSummarytitle">  
                                <div class="card" >
                                    <div class="card-header card-chart" data-background-color="cureyo">
                                            <div class="ct-chart" id="{{sleepSummarytitle}}"></div>
                                            </div>
                                    <div class="card-content">
                                            <h5 class="title">Sleep</h5>
                                            <p  class="category">{{sleepSummaryDate}}</p>
                                    </div>
                                    <div class="card-footer">
                                            <div  class="stats">
                                            Average Sleep {{sleepSummaryAverage}} per/day;
                                            </div>
                                    </div>
                                </div>
                            </div>

                      </div>
    <!-- end of the row-->
    <!--************************Charts**************************************************-->
                     <h4 style="color: #137a9c"><b>Patient Demographics</b></h4>
              <div class="row">

<div *ngIf="hasAge" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        perm_identity</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Age
          </h3>
       
        <div style="text-align:left;">
   <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"> <small ><b>{{age}} years</b></small></p>
        </div>
    </div>  
</div>
</div>

<div *ngIf="hasHometown" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        account_balance</i>

        </div>
    <div class="card-content">
      <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Hometown
          </h3>
       
        <div style="text-align:left;">
   <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"> <small ><b>{{hometown}}</b></small></p>
        </div>
    </div>  
</div>
</div>

<div *ngIf="hasLocation" class="col-sm-4">
<div class="card card-stats" >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        room</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400; line-height: 16px;"> 
         Location
          </h3>
       
        <div style="text-align:left;">
   <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"> <small ><b>{{location}}</b></small></p>
        </div>
       
       
    </div>  
</div>
</div>
<div *ngIf="hasEducation" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                         school</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400;"> Education History
        </h3>
        <div style="text-align:left;" *ngFor="let school of education">
   <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"> <small ><i *ngIf="school.school">{{school.school.type}}</i> <b *ngIf="school.school">{{school.school.name}}</b> <i *ngIf="school.concentration">{{school.concentration[0].name}}</i></small></p>
        </div>
    </div>  
</div>
</div>
<div *ngIf="hasWork" class="col-sm-4">
<div class="card card-stats"  >
        <div class="card-header" style="float: left; width: 50px; height: 50px; padding: 0; border-radius: 50px;" data-background-color="cureyo">

            <i class="material-icons" style="color: #ffffff; line-height: 50px">
                                        people</i>

        </div>
    <div class="card-content">
        <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400;"> Working History
        </h3>
        <div style="text-align:left; " *ngFor="let job of work">
       <p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 20px;"><small><i *ngIf="job.position">{{job.position.name}}</i> <b *ngIf="job.employer">{{job.employer.name}}</b> <i *ngIf="job.location">{{job.location.name}}</i></small></p>
        

    </div>  
</div>
</div>
</div>
              </div>
              <a class="btn btn-round pull-right" (click)="checkOutPatient()">Check-out Patient</a>
              </div>
             
              
              <div class="card-footer">
                    <a class="pull-left" style="cursor: pointer; margin:10px;" (click)="previousPatient()">< Previous </a>
                        <a class="pull-right"  style="cursor: pointer;margin:10px;" (click)="nextPatient()"> Next > </a>
              </div>
                </div>
 </div>
 

<app-PatientDetailsFormComponent></app-PatientDetailsFormComponent>
</div>
 </div>
    