 <div class="col-md-12">
                <div *ngIf="profileTile" class="card">
                  <form [formGroup]="profileTileForm" class="formGroup" novalidate (ngSubmit)="save_profileTile(profileTileForm)">
                    <!-- card header portion-->
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Profile Section</h4>

                        <p class="category">Provide details of your background and profile</p>

                    </div> <!-- card header portion end-->
                    
              <div class="card-content table-responsive">
                  
              <div class="row">
                       <!-- title-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="title">Title </label>
                                 <input type="text" class="form-control" formControlName="title"/>
                            </div>
                    </div><!--end of title -->
                     <!-- exeperience-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="experience">Exeperience</label>
                                 <input type="text" class="form-control" formControlName="experience"/>
                            </div>
                    </div><!--end of Experience -->
                    <!-- Qualification-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="qual">Qualification</label>
                                 <input type="text" class="form-control" formControlName="qual"/>
                            </div>
                    </div><!--end of Qualification -->
                    
  
                            </div> <!-- end of 1st row-->
                            <!--second row-->
                <div class="row">
                    <!-- About-->
                    <div class="col-md-4">  
                            <div class="form-group">
                                 <label for="brief">Brief</label>
                                 <textarea type="text" class="form-control" formControlName="brief" ></textarea>
                            </div>
                    </div>
                    <!--end of About  -->
                     <!-- text for web site-->
                    <div class="col-md-4">  
                            <div class="form-group">
                                 <label for="name">Name</label>
                                 <input type="text" class="form-control" formControlName="name"/>
                            </div>
                    </div>
                    <!--end of text for web site -->
                    <!-- card title -->
                    <div class="col-sm-3">  
                            <div class="form-group">
                                 <label for="text"> Sub-text</label>
                                 <input type="text" class="form-control" formControlName="text"/>
                            </div>
                    </div><!--end of card title -->
                </div>
                <!-- end of second row-->
                <!-- third row-->
                <div class="row">
                      

                    <div class="col-md-4">  
                        <!--<div class="checkbox">
                        <label style="padding-top:15px;">
                          <input type="checkbox" name="optionsCheckboxes" checked formControlName="bg_Pic">
                          click for background pic
                        </label>
                      </div>          -->
                       <div class="form-group" >
    <label class="control-label" for="bgPic">Select Background Image</label>
    <select formControlName="bgPic" id="bgPic" class="form-control" (change)="changeSampleBG(profileTileForm.controls['bgPic'].value)">
      <option value="{{i.url}}" *ngFor="let i of backgrounds">{{i.name}}</option>
    </select>
  </div>
                    </div>
                    <div class="col-md-4">
                            <h4>Background Preview</h4>
                            <img src="{{preview}}">
                    </div>

                    
                    <!-- submit button code    -->
                <div class="col-md-4"> 
        
                      <div class="pull-right" >
                          <button  type="submit" [ngClass]="{'hide': profileTileAdded}" [disabled]="!profileTileForm.valid" class="btn btn-round btn-warning">Save</button>
                      </div>

                       <div [ngClass]="{'hide': !profileTileAdded}" class="bareP">
                            <p>Thanks! Tile is Added </p>
                        </div>
                </div>
<!-- end of submit button-->
                </div>  <!-- end of third row-->
                 
                

                    </div>
                  </form>
                </div>
            </div> 