<form  [formGroup]="carePathwayForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit(carePathwayForm.value)" class="form">
        <div class="row">
                <div class="col-sm-12">
                            <div class="card card-stats" style=" padding: 10px;">
                            <div class="form-group" style="width: 75%; margin: 10px;">  
                              <label class="control-label" for="name">Disease/ Condition</label>
                            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name this Care Path" />
                            </div>

                             <div class="form-group" style="margin: 10px; width: 15%;">  
                                     <label class="control-label" for="duration">Treatment duration</label>
                                                                    <select formControlName="duration" class="form-control" >
                                                                    <option value="0.25" >1 week</option>
                                                                    <option value="0.5" >2 weeks</option>
                                                                    <option value="0.75" >3 weeks</option>
                                                                    <option value="1" >1 month</option>
                                                                    <option value="1.5" >1.5 months</option>
                                                                    <option value="2" >2 months</option>
                                                                    <option value="3" >3 months</option>
                                                                    <option value="4" >4 months</option>
                                                                    <option value="5" >5 months</option>
                                                                    <option value="6" >6 months</option>
                                                                    <option value="7" >7 months</option>
                                                                    <option value="8" >8 months</option>
                                                                    <option value="9" >9 months</option>
                                                                    <option value="10" >10 months</option>
                                                                    <option value="11" >11 months</option>
                                                                    <option value="1yr" >1 year</option>
                                                                    <option value="Cr" >Chronic</option>
                                                                    </select>
                                                                      </div>
                            <div class="form-group" style="margin: 10px;">  
                                     <label class="control-label" for="description">Description</label>
                            <textarea type="text" class="form-control" id="description" formControlName="description" placeholder="Provide a brief description, risks, etc."> </textarea>
                            </div>
                            
                          
                            <div class="pull-left" >
                            <button type="button" id="addcheck" (click)="addCheckPoints()"  class="btn btn-round btn-primary">+ add checkpoint</button>
                            </div>
                            <div class="pull-left" >
                            <button type="button" id="addquery" (click)="addQueries()"  class="btn btn-round btn-primary">+ add query</button>
                            </div>
                            <div class="pull-left" >
                            <button [disabled]="!carePathwayForm.valid" type="submit" class="btn btn-round">Save</button>
                            </div>
                            </div>

                <!-- form array name checkPoints-->
                <div class="col-sm-8">
                        <h4><b>Outgoing Reminders</b></h4>
                <div formArrayName="checkPoints">
                            <div class="card card-stats" *ngFor="let check of carePathwayForm.controls.checkPoints.controls; let i=index">
                                    <div [formGroupName]="i">
                                            <div class="card-header" data-background-color="cureyo" style="margin-left: 2em;">   
                                                      {{i}}                             
                                            </div>

                                            <div class="card-footer"> <!-- card footer-->

                                                            <div class="form-group" style="width: 20%; float: left; z-index: 10000;">  
                                                                    <label class="control-label" for="day">Day #</label>
                                                                    <select formControlName="day" class="form-control" >
                                                                    <option  [attr.selected]="" value="{{j}}" *ngFor="let j of days">{{j}}</option>
                                                                    </select>
                                                            </div>


                                                            <div class="form-group" style="width: 20%; float: left; z-index: 10000;">  
                                                                    <label class="control-label" for="time">Time</label>
                                                                    <select formControlName="time" class="form-control" >
                                                                    <option [attr.selected]="" value="{{k}}" *ngFor="let k of times">{{k}}</option>
                                                                    </select>
                                                            </div>


                                                            <div class="form-group" style="width: 40%; float: left; z-index: 10000;">  
                                                                        <label class="control-label" for="checkType">Check Type</label>
                                                                        <select formControlName="checkType" class="form-control" (change)="checkTypeSelect(check.controls['checkType']._value, i)">
                                                                        <option value="yes-no">Yes/ No Question</option>
                                                                        <option value="mcq">Multiple Choice Question</option>
                                                                        <option value="value">Value/ Metric check</option>
                                                                        <option value="consult-reminder">Consultation Reminder</option>
                                                                        <option value="online-review">Online Review/ Consult</option>
                                                                        <option value="med-reminder">Medication Reminder</option>
                                                                        <option value="test-reminder">Pathological Tests</option>
                                                                        <option value="scan-reminder">Radiological Scans</option>
                                                                        <option value="blood-test-reminder">Sugar/ BP Check</option>
                                                                        </select>
                                                            </div>



                                                            <div  class="form-group" style="margin: 10px; width: 100%;">  
                                                                        <input type="text" class="form-control" id="messageText" formControlName="messageText" placeholder="Message/ Question text" />
                                                            </div>

                                                            <div *ngIf="checkTypes[i] == 'consult-reminder' || checkTypes[i] == 'online-review'"  class="form-group" style="margin: 10px; width: 100%;">  
                                                                        <label class="control-label" for="consultant">Consultation with</label>
                                                                        <select formControlName="consultant" class="form-control" (change)="consultantSelect(check.controls['consultant']._value, i)">

                                                                        <option value="{{partner.key}}" *ngFor="let partner of partnerList;">{{partner.name}}</option>
                                                                        </select>
                                                           </div>


                                                            <div *ngIf="checkTypes[i] == 'mcq'" formArrayName="options">
                                                                        <div *ngFor="let opt of check.controls.options.controls; let k=index">
                                                                                <div [formGroupName]="k">
                                                                                        <div class="form-group" style="margin: 10px; width: 80%; margin-left:5%;"> 
                                                                                        <br> 
                                                                                        <input type="text" class="form-control" id="value" formControlName="value" placeholder="Option" />
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                             </div>


                                                            <br>
                                                                <div *ngIf="checkTypes[i] == 'mcq'" class="form-group">
                                                                        <a class="btn btn-primary btn-round" 
                                                                        (click)="addOptions(check, i)">Add Option</a>
                                                                </div>
        
                                                  </div> <!-- card footer-->
                                                <app-medication-reminder-carepath *ngIf="checkTypes[i] == 'med-reminder'"
                                                        [objectId]="objectIdVal" 
                                                        [timeInterval]="timeInterval" 
                                                        [dateInterval]="dateInterval"
                                                        [MedNames]="MedNames">
                                                </app-medication-reminder-carepath>
                                                                
                                                <app-lab-test-carepath *ngIf="checkTypes[i] == 'test-reminder'"
                                                        [objectId]="objectIdVal" 
                                                        [timeInterval]="timeInterval" 
                                                        [testType]="pathological"
                                                        [dateInterval]="dateInterval"
                                                        [MedNames]="TestNames">
                                                </app-lab-test-carepath>
                                                <app-lab-test-carepath *ngIf="checkTypes[i] == 'scan-reminder'"
                                                        [objectId]="objectIdVal" 
                                                        [timeInterval]="timeInterval" 
                                                        [dateInterval]="dateInterval"
                                                        [testType]="radiological"
                                                        [MedNames]="TestNames">
                                                </app-lab-test-carepath>
                                                
                                                 <app-bloodsugar-carepath *ngIf="checkTypes[i] == 'blood-test-reminder'"
                                                        [objectId]="objectIdVal">
                                                </app-bloodsugar-carepath>
                                                
                                                 <app-physicalconsultation-carepath *ngIf="checkTypes[i] == 'consult-reminder'  && consultantSelected[i]"
                                                        [objectId]="objectIdVal" 
                                                        [doctorId] = "doctorId"
                                                        [timeInterval]="timeInterval" 
                                                        [dateInterval]="dateInterval"
                                                        [consultType]="physical"
                                                        [consultantId]="consultant[i]">
                                                </app-physicalconsultation-carepath>
                                                <app-physicalconsultation-carepath *ngIf="checkTypes[i] == 'online-review'  && consultantSelected[i]"
                                                        [objectId]="objectIdVal" 
                                                        [doctorId] = "doctorId"
                                                        [timeInterval]="timeInterval" 
                                                        [dateInterval]="dateInterval"
                                                        [consultType]="online"
                                                        [consultantId]="consultant[i]">
                                                </app-physicalconsultation-carepath>
                                            </div>
                                    </div>
                             </div>
                </div>
                   <div class="col-sm-4">
                           <h4><b>Incoming Queries</b></h4>
                <div formArrayName="queries">
                            <div class="card card-stats" *ngFor="let query of carePathwayForm.controls.queries.controls; let i=index">
                                    <div [formGroupName]="i">
                                            <div class="card-header" data-background-color="cureyo" style="margin-left: 2em;">   
                                                      Query {{i}}                             
                                            </div>

                                            <div class="card-footer"> <!-- card footer-->

                                                            <div class="form-group" style="width: 100%;">  
                                                                    <label class="control-label" for="query">Query</label>
                                                                    <input type="text" class="form-control" id="query" formControlName="query" placeholder="Incoming Query" />
                                                            </div>
                                                            <div class="form-group" style="width: 100%;">  
                                                                    <label class="control-label" for="response">Response</label>
                                                                    <input type="text" class="form-control" id="response" formControlName="response" placeholder="Response to be provided" />
                                                            </div>
                                            </div>
                                    </div>
                            </div>
                </div>
                   </div>
                    </div>
           </div>
</form>