 <div class="col-md-12">
                <div class="card">
                  <form [formGroup]="heroTile" class="formGroup" novalidate (ngSubmit)="save_heroTile(heroTile)">
                    <!-- card header portion-->
                    <div class="card-header" data-background-color="cureyo">
                        <h4 class="title">Top Section</h4>

                        <p class="category">First section that appears on your webpage</p>

                    </div> <!-- card header portion end-->
                    
              <div class="card-content table-responsive">
                  
              <div class="row">
                       <!-- title-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="title">Title </label>
                                 <input type="text" class="form-control" formControlName="title"/>
                            </div>
                    </div><!--end of title -->
                     <!-- exeperience-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="title">Exeperience</label>
                                 <input type="text" class="form-control" formControlName="expo"/>
                            </div>
                    </div><!--end of Experience -->
                    <!-- Qualification-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="title">Qualification</label>
                                 <input type="text" class="form-control" formControlName="qual"/>
                            </div>
                    </div><!--end of Qualification -->
                    
  
                            </div> <!-- end of 1st row-->
                            <!--second row-->
                <div class="row">
                    <!-- About-->
                    <div class="col-md-4">  
                            <div class="form-group">
                                 <label for="title">About</label>
                                 <input type="text" class="form-control" formControlName="about"/>
                            </div>
                    </div>
                    <!--end of About  -->
                     <!-- text for web site-->
                    <div class="col-md-4">  
                            <div class="form-group">
                                 <label for="title">Text for site</label>
                                 <input type="text" class="form-control" formControlName="site_text"/>
                            </div>
                    </div>
                    <!--end of text for web site -->
                    <!-- card title -->
                    <div class="col-sm-3">  
                            <div class="form-group">
                                 <label for="title"> Card Title</label>
                                 <input type="text" class="form-control" formControlName="card_title"/>
                            </div>
                    </div><!--end of card title -->
                </div>
                <!-- end of second row-->
                <!-- third row-->
                <div class="row">
                      

                    <!--<div class="col-md-4">  
                        <!--<div class="checkbox">
                        <label style="padding-top:15px;">
                          <input type="checkbox" name="optionsCheckboxes" checked formControlName="bg_Pic">
                          click for background pic
                        </label>
                      </div>        
                       <div class="form-group" >
    <!--<label class="control-label" for="bg_Pic">Select Background Image</label>
    <select formControlName="bg_Pic" id="bg_Pic" class="form-control" (change)="changeSampleBG(heroTile.controls['bg_Pic'].value)">
      <option value="{{i.url}}" *ngFor="let i of backgrounds">{{i.name}}</option>
    </select>
  </div>
                    </div>-->
                    <!--<div class="col-md-4">
                            <h4>Background Preview</h4>
                            <img src="{{preview}}">
                    </div>-->
                <div class="col-md-4">
                </div>
                    <div class="col-md-4">  
                        <div class="checkbox">
                        <label style="padding-top:15px;">
                          <input type="checkbox" name="optionsCheckboxes" checked formControlName="fb_Profile">
                          Use My Fb Profile Pic
                        </label>
                      </div>          
                    </div>
                    <!-- submit button code    -->
                <div class="col-md-4"> 
        
                      <div class="pull-right" >
                          <button  type="submit" [ngClass]="{'hide': heroTileAdded}" [disabled]="!heroTile.valid" class="btn btn-round btn-warning">Save</button>
                      </div>

                       <div [ngClass]="{'hide': !heroTileAdded}" class="bareP">
                            <p>Thanks! Tile is Added </p>
                        </div>
                </div>
<!-- end of submit button-->
                </div>  <!-- end of third row-->
                 
                
<app-image-search [savePath]="savePath" [searchType]="imgSearchType" [fbPageId]="pageIdSelected" [defaultKeyWord]="defaultImgSearch"></app-image-search>
                    </div>
                  </form>
                  <div class="card-footer">
                          <a style="margin-bottom: 10px;" class="pull-right">Next</a>
                  </div>
                </div>
            </div> 