<div class="card card-content">
    <script src="https://unpkg.com/core-js/client/shim.min.js"></script>
    <script src="https://unpkg.com/zone.js@0.6.25?main=browser"></script>
    <script src="https://unpkg.com/reflect-metadata@0.1.3"></script>
    <script src="https://unpkg.com/systemjs@0.19.27/dist/system.src.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
 
       <form *ngIf="formReady" [formGroup]="searchImageForm" class="formGroup" novalidate (ngSubmit)="save_searchImageForm(searchImageForm)">
                <div class="row">
                  <h4> Add Images</h4>
                 <div class="col-md-4" >
                            <div class="form-group">
                                 <label for="searchType">Search from? </label>
                                  <select  id="searchType" class="form-control" (change)="changeSearchType(searchImageForm.controls['searchType'].value)" formControlName="searchType">
                                    <option value="google">From Google</option>
                                    <option value="cureyo">From Cureyo</option>
                                    <option value="fbPage">From Facebook Page</option>
                                  </select> 
                            </div>
                    </div>
                    <div *ngIf="showSearchTerm" class="col-md-6" >
                            <div class="form-group" style="width: 60%; float: left; z-index: 10000;">
                                 <label for="searchTerm">Search term </label>
                                   <input  type="text"  id="searchTerm" class="form-control" formControlName="searchTerm" />
                             
                            </div>
                            <a  *ngIf="showSearchTerm" style="width: 35%; float: left; z-index: 10000; margin-top: 20px;" class="btn btn-round btn-warning" (click)="searchForGImages(searchImageForm.controls['searchTerm'].value)">Search</a>
                    </div>
                </div>
                    <div *ngIf="showScroll" class="row">
                    <fieldset>
                    <div class="col-md-12">
                    <div id="v-scrollable" class="scrollable section horizontal" ng2-scrollable (elementVisible)="scrollEvent()">
    <div *ngFor="let img of displayArray; let i = index;"  style="width: 150px; height: 100px;">
      <a (click)="selectImage( i)"><img [src]="img" style="height: 100px;" [ngClass]="(showBorder[i] == true)?'border':'continer'"></a></div>
    
  </div>
       </div>
       </fieldset>
                    </div>
                   
                  
       </form>   
</div>