      <form [formGroup]="carePlanForm" class="form">
                          <div class="row">
                            <div class="card">
                                <div class="card-content">
                                    <div *ngIf="patientPathsExist">
                                         <p ><b>Assigned Plans</b></p>
                                    <div *ngFor="let care of patientExistingPaths" class="card" style="margin-top: 10px;">
                                        <div class="card-content">
                                        <label class="label-round label-warning" style="color: white;">{{care.name.path}}</label> assigned on <label class="label-round label-info" style="color: white;">{{care.activatedOn}}</label> subscribed on <label class="label-round label-warning" style="color: white;">{{care.plan}} Plan</label>
                                    </div>
                                    </div>
                                    </div>
                                   <hr>
                                <div class="form-group form-black label-floating is-not-empty">
                                    <div class="form-group">
                                    <label class="control-label">Assign a Care Plan</label>
                                      <select formControlName="formname" class="form-control" >
      <option [attr.selected]="" value="{{j.$key}}" *ngFor="let j of carePathsAvlbl">{{j.path}}</option>
    </select>
                                    </div>
                                </div>
                               
                          <a (click)="saveCarePlan(patientId, carePlanForm.controls['formname'].value, firstName, clinicIDNew)" class="btn btn-round btn-warning">Assign Care Path</a>
  </div>
                               
                            </div>
                            <a (click)="showCarePathsAdd()" style="cursor: pointer;" >Show / Add Care Paths</a>
                          </div>
 </form>
  <care-paths-cmp *ngIf="showPaths"></care-paths-cmp>