<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/AppIcon-01.ico"/>
        </div>
        Cureyo
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container collapsed">
        <ul class="nav">
            <li routerLinkActive="active">
                <a  id="dashboardButton" [routerLink]="['dashboard']" style="z-index: 100000;"  (click)="coDashboardMenu()">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>

            </li>

            <li routerLinkActive="active">
                <a  id="profileButton" style="z-index: 100000;"  (click)="coProfileMenu()">
                    <i class="material-icons">person</i>
                    <p>Cared One Profiles</p>
                </a>
                  <div *ngIf="coProfile">
                       
                 <ul class="nav" *ngIf="noCaredOnes" style="transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">
            <li routerLinkActive="active">
                 <a  style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                <div class="card card-stats" style="height: 50px; padding: 0px; margin: 0px;">
                    <div class="card-content">
                    <p style="font-weight: 400;">No Cared Ones to view</p>
                    </div>
                </div>
                </a>
            </li>
                 </ul>
                 <ul class="nav" *ngFor="let caredone of caredOnes" style="transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">
            <li routerLinkActive="active">
                 <a  [routerLink]="['caredoneprofiles' + '/' + caredone.uid]" style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                <div class="card card-stats" style="height: 50px; padding: 0px; margin: 0px;">
                  
                    <img src="{{caredone.avatar}}" style="width: 50px; height: 50px; float: left; border-right: 3px;">
              
                    <div class="card-content">
                    <p>{{caredone.nickName}}</p>
                    </div>
                </div>
                </a>

            </li>
                 </ul>
                </div>
            </li>
            <li routerLinkActive="active">

                <a  id="planButton" style="z-index: 100000;"  (click)="coPlanMenu()">

                    <i class="material-icons">content_paste</i>
                    <p>Care Plans</p>
                </a>
                <div *ngIf="coPlan">
                    <ul class="nav" *ngIf="noCaredOnes" style="transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">
            <li routerLinkActive="active">
                 <a  style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                <div class="card card-stats" style="height: 50px; padding: 0px; margin: 0px;">
                    <div class="card-content">
                    <p style="font-weight: 400;">No Cared Ones to view</p>
                    </div>
                </div>
                </a>
            </li>
                 </ul>
                 <ul class="nav" *ngFor="let caredone of caredOnes" style="transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">
            <li routerLinkActive="active">
                 <a  [routerLink]="['careplans' + '/' + caredone.uid]" style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                <div class="card card-stats" style="height: 50px; padding: 0px; margin: 0px;">
                  
                    <img src="{{caredone.avatar}}" style="width: 50px; height: 50px; float: left; border-right: 3px;">
              
                    <div class="card-content">
                    <p>{{caredone.nickName}}</p>
                    </div>
                </div>
                </a>
            </li>
                 </ul>
                </div>
            </li>
            <li routerLinkActive="active">

                <a id="reportButton" style="z-index: 100000;"  (click)="coReportMenu()">

                    <i class="material-icons">library_books</i>
                    <p>Weekly Health Reports</p>
                </a>
                  <div *ngIf="coReport">
                      <ul class="nav" *ngIf="noCaredOnes" style="transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">
            <li routerLinkActive="active">
                 <a  style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                <div class="card card-stats" style="height: 50px; padding: 0px; margin: 0px;">
                    <div class="card-content">
                   <p style="font-weight: 400;">No Cared Ones to view</p>
                    </div>
                </div>
                </a>
            </li>
                 </ul>
                 <ul class="nav" *ngFor="let caredone of caredOnes" style="transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">
            <li routerLinkActive="active">
                <a  [routerLink]="['weeklyreports' + '/' + caredone.uid]" style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                <div class="card card-stats" style="height: 50px; padding: 0px; margin: 0px;">
                  
                    <img src="{{caredone.avatar}}" style="width: 50px; height: 50px; float: left; border-right: 3px;">
              
                    <div class="card-content">
                    <p>{{caredone.nickName}}</p>
                    </div>
                </div>
                </a>

            </li>
                 </ul>
                </div>
            </li>
             <!-- Jobs for Doctor-->
               <li *ngIf="isDoctor" routerLinkActive="active">     

                <a  id="doctorJobMenu" style="z-index: 100000;"  (click)="coDoctorJobsMenu()">

                    <i class="material-icons">work</i>
                    <p>Prescription Pad</p>
                </a>
                <div *ngIf="coDoctorJobs">
                    <ul class="nav" *ngIf="noCaredOnes" style="transition: all 0.009s cubic-bezier(0.29, 1.42, 0.79, 1);">
            <li routerLinkActive="active">
                 <a  style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                <div class="card card-stats" style="height: 50px; padding: 0px; margin: 0px;">
                    <div class="card-content">
                    <p style="font-weight: 400;">No Cared Ones to view</p>
                    </div>
                </div>
                </a>
            </li>
                 </ul>
                 <ul class="nav" *ngFor="let caredone of caredOnes" style="transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">
            <li routerLinkActive="active">
                 <a  [routerLink]="['doctorJob' + '/' + caredone.uid]" style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                <div class="card card-stats" style="height: 50px; padding: 0px; margin: 0px;">
                  
                    <img src="{{caredone.avatar}}" style="width: 50px; height: 50px; float: left; border-right: 3px;">
              
                    <div class="card-content">
                    <p>{{caredone.nickName}}</p>
                    </div>
                </div>
                </a>
            </li>
                 </ul>
                </div>
            </li>
            <!-- web site button -->
              <li routerLinkActive="active">
                <a [routerLink]="['web']" id="WebSiteSetup"  style="z-index: 100000;">
                    <i class="material-icons">web</i>
                    <p>Web site</p>
                </a>

            </li>
             <!-- end of Jobs-->
            
        </ul>
    </div>
</div>
