
<div class="col-sm-12">
  
<form *ngIf="selectDrDomain" [formGroup]="drDomain" (keydown.enter)="$event.preventDefault()" class="form" style="margin-top:10%; margin-bottom:0%"
  novalidate>
  <div class="row"> 
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
  
  <div class="card" *ngIf="selectDrDomain" style="padding-top: 0px;margin-top: 55px;">
    <div class="row">
    <div class="card-stats">
      <div class="card-header" data-background-color="cureyo" style="margin-left: 2em;">

        <i class="material-icons" style="color: #ffffff;  font-size: -webkit-xxx-large;">language</i>
      </div>
      <div class="card-content" style="float: left; text-align: left;">

        <h3 class="title" style="float: left; color: #137a9c; font-size: 16px; font-weight: 400;">Domain Search
          <br><small style="float: left; font-size: 20px; line-height:auto;padding-top: 15px">Enter your domain name</small></h3>
        <input type="text" class="form-control" [formControl]="drDomain.controls['message']" style="height: 40px; font-size: 20px;"/> 

      </div> <!--end of card content-->
      
    </div> <!--end of card stats-->
       </div> <!-- end of row-->
       <!--search button code -->
          <div class="clearfix" style="margin-right: 10px;">
          <div class="pull-right">
                    <div class="form-group">
                      <button type="submit" class="btn btn-round" 
                        (click)="searchDomain(drDomain)">Search</button>
                    </div>
          </div>
       </div> 
       <!--end of search button-->    

  </div> <!--end of card-->
 
       
 
 <div *ngIf="domainAvailable && !availableName.available" class="card">
        <div class="col-sm-10">
                          <p class="title" style=" font-size: 20px; padding-left: 1em;padding-top: 9px; margin-top: 0px;">Domain name not available</p>
                        <hr/>
                        </div>
                     
                        </div>

 <div *ngIf="domainAvailable && availableName.available" class="card">
        <div class="col-sm-10">
                          <p class="title" style=" font-size: 20px; padding-left: 1em;padding-top: 9px; margin-top: 0px;">{{availableName.domain}}</p>
                        <hr/>
                        </div>
                        <div class="col-sm-2">
                            <div class="clearfix">
                              <div class="pull-right">
                                          <button  type="submit" class="btn btn-primary btn-round" (click)="route2WebDetails(availableName.domain)" > Select</button>
                                        </div>
                              </div> 
                        </div>
                        </div>
                
  <h3 *ngIf="displayDrDomain && array[0]" style="padding-left:15px;"> Other Available URLs</h3>
   
   <!-- list of available web name-->

      <div *ngIf="displayDrDomain">
            <div *ngFor="let i of array; let i=index">
                
                    <div class="card">

                        <div class="col-sm-10">
                        <p class="title" style=" font-size: 20px; padding-left: 2em;padding-top: 9px;margin-top: 0px;">{{array[i].domain}}</p>
                        <hr/>
                        </div>

                        <div class="col-sm-2">
                            <div class="clearfix">
                              <div class="pull-right">
                                          <button  type="submit" class="btn btn-primary btn-round" (click)="route2WebDetails(array[i].domain)" > Select</button>
                                        </div>
                              </div> 
                        </div>

                    </div>     
                </div>

                <div class="col-sm-2"></div>
            </div>
     
 <!-- end of list of url's-->
   </div> <!-- end of col-md-8-->
  
  <div class="col-sm-2"></div>
  </div>
</form>

</div>
