<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
          <h3> Objective</h3>
          <!-- first card -->
          <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="cureyo">
                            <div class="ct-chart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title"> Serve existing patients </h4>
                            <p class="category">  simple, clean and elegant. Build on the trust you already have. Let patient's consult you online for follow-ups and book appointments</p>

                           
                            
                        </div>
                        <div class="card-footer">
                            <div  class="stats">
                               <p  class="category"><span class="text-success"><i class="material-icons">done</i> Selected</span> </p>                     
                            </div>
                        </div>
                    </div>
                </div> <!-- end of first card-->
        <!--second card-->
        <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="cureyo">
                            <div class="ct-chart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title"> Engage new customers  </h4>
                            <p class="category"> Informative and beautiful. Showcase yourself and engage with customers</p>

                           
                            
                        </div>
                        <div class="card-footer">
                            <div  class="stats">
                               <p  class="category"> Coming soon </p>                     
                            </div>
                        </div>
                    </div>
                </div> 
        <!-- end of second card-->

    </div><!-- end of row-->
    <div class="row">
      <h3> Template</h3>
      <div class="col-md-4"> 
        <a [routerLink]="['/webform']" style="cursor: pointer;">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="cureyo">
                            <div class="ct-chart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">template </h4>
                            <p  class="category"><span class="text-success"><i class="material-icons">nfc</i> some text 3 </span> (range)</p>
                           
                            
                        </div>
                        <div class="card-footer">
                            <div  class="stats">
                                <i  class="material-icons">access_time</i> some text 4                           
                            </div>
                        </div>
                    </div>
        </a>
                </div>
    </div>
  </div>
</div>
