 <div class="main-content">
    <div class="container-fluid">
        <h3> Fb Ads form </h3>
  <div class="col-md-12">
                <div class="card">
                  <form [formGroup]="fbAdsForm" class="formGroup" novalidate (ngSubmit)="save_fbAdsForm(fbAdsForm)">

              <div class="card-content table-responsive">
               <!-- first row-->   
              <div class="row">
  
                    <div class="col-md-4" >
                            <div class="form-group">
                                 <label for="adAccount">Ad Account </label>
                                  <select  id="uid" class="form-control" formControlName="adAccount"  *ngIf="tempAdaccountId">
                                    <option *ngFor="let act of tempAdaccountId;" value="{{act}}">{{act}}</option>
                                  </select>
                                   
                            </div>
                    </div>
        
                  <div class="col-md-4">
                          <div class="form-group">
                               <label for="PageID">Page ID</label>

                                <input type="text" class="form-control" formControlName="pageID" >
                                
                          </div>
                  </div>
 

                  <div class="col-md-4">
                        <div class="form-group">
                              <label for="bID">Bid</label>
                             
                               <input type="text"  class="form-control" formControlName="BID"/>
                              
                        </div>
                  </div>
            

                            </div> 
                            <!-- end of the first row-->
                             <!-- second row-->
                            <div class="row">
  
                    <div class="col-md-4">
                            <div class="form-group">
                                 <label for="name">name </label>
              
                                  <input type="text"  id="name" class="form-control" formControlName="name"/>
                                    
                            </div>
                    </div>
        
                  <div class="col-md-4">
                          <div class="form-group">
                               <label for="targetingSpec">Targeting Spec</label>
                                 
                                  <select   id="targetingSpec" class="form-control" formControlName="targetingSpec" >
                                    <option value="IN">INDIA</option>    
                                    <option value="US">USA</option>   
                                    

                              </select>
                               
                          </div>
                  </div>
 

                  <div class="col-md-4">
                        <div class="form-group">
                              <label for="siteLink">Site Link</label>

                              <input type="text"  id="link" class="form-control" formControlName="siteLink" />
                        </div>
                  </div>
            

                            </div>
                            <!-- end of the second row-->
                            <!-- third row-->
                            <div class="row">
  
                    <div class="col-md-4">
                            <div class="form-group">
                                 <label for="caption">Caption </label>
              
                                  <input type="text"  id="caption" class="form-control" formControlName="caption"/>
                            </div>
                    </div>
        
                  <div class="col-md-4">
                          <div class="form-group">
                               <label for="message">Message</label>

                                <input type="text"  id="msg" class="form-control" formControlName="msg"/>
                          </div>
                  </div>
 

                  <div class="col-md-4">
                        <div class="form-group">
                              <label for="callToAction">Call to Action Type</label>

                              <select  id="callToAction" class="form-control" formControlName="callToAction" >
                                    <option value="noButton">NOButton</option>                          
                                    <option value="likePage">LIKEPAGE</option>                          
                                    <option value="bookTravel">BOOK TRAVEL</option>                          
                                    <option value="installApp">INSTALL APP</option>  
                                    <option value="butNow">BUY NOW</option>    
                                    <option value="callNow">CALLNOW</option>
                                    <option value="download">DOWNLOAD</option>
                                    <option value="getDirection">GETDIRECTION</option>
                                    <option value="getQuote">GETQUOTE/option</option>
                                    <option value="learnMore">LEANMORE</option> 
                                    <option value="playGame">PLAYGAME</option>
                                    <option value="shopNow">SHOP NOW</option> 
                                    <option value="signUp">SIGN UP</option>
                                    <option value="subscribe">SUBSCRIBE</option>
                                    <option value="userApp">USE APP</option>
                                    <option value="watchVideo">WATCH VIDEO</option>
                              </select>
                        </div>
                  </div>
            

                            </div> 
                            <!-- end of the third row-->
                                  <!-- fourth row-->
                            <div class="row">
  
                    <div class="col-md-4">
                            <div class="form-group">
                                 <label for="title">Title </label>
              
                                  <input type="text"  id="title" class="form-control" formControlName="title"/>
                                    
                            </div>
                    </div>
        
                  <div class="col-md-8">
                          <div class="form-group">
                               <label for="body">Body</label>

                                <input type="text"  id="body" class="form-control" formControlName="body"/>
                          </div>
                  </div>

                            </div>
                            <!-- end of the fourth row-->
                            <!-- fifth row-->
                            <div class="row">
                               <div class="col-md-4">
                                    <div class="form-group">
                                            <label for="body">Start Date</label>

                                           <input type="date" class="form-control" [(ngModel)]="minDate" min="2017-05-12" max="{{maxDate}}"formControlName="startdate"/>
                                     </div>
                                 </div>   
                                 <div class="col-md-4">
                                    <div class="form-group">
                                            <label for="body">End Date</label>

                                           <input type="date" class="form-control" [(ngModel)]="maxDate" min="{{minDate}}" max="2017-12-12" formControlName="enddate"/>
                                     </div>
                                 </div>   
                            </div>     
                           <!--end of fifth row-->
                           <!--6th row-->
                           <div class="row">
                                 
                                       <div class="col-md-4">
                                          <div class="form-group">
                                          <a class="btn btn-info" id="btn-style">Choose File<input
                                           type="file"
                                           ng2FileSelect value="Browse" 
                                           class="form-control"       
                                           
                                            [uploader]="uploader" single/>
                                          </a>
                                          </div>
                                    </div>
                                    <div class="col-md-4">
                                          <div class="form-group">
                                            <div *ngFor="let item of uploader.queue;">
                                            <p id="fileName"><strong>{{ item?.file?.name }}</strong></p>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="uploader.queue" >
                                    <div *ngFor="let item of uploader.queue;">    
                                    <button type="button" class="btn btn-success btn-xs" id="actionButton"
                                    (click)="onUpload(item); item.upload(); item.remove();" [disabled]="!item?.file?.name">
                                    <span><i class="material-icons">file_upload</i></span> Upload
                                    </button>

                                    <button type="button" class="btn btn-danger btn-xs" id="actionButton"
                                    (click)="item.remove()">
                                    <span><i class="material-icons">delete</i></span> Remove
                                    </button>
                                    </div>
                                    </div>
                                 
                           </div>
                           <!--end of the six row-->
                            <!-- 7th row-->
                            <div class="row">
                      <!-- submit button code    -->
                
                      <div class="pull-right" >
                          <button [ngClass]="{'hide': fbAdsAdded}" type="submit" [disabled]="!urlAdded" class="btn btn-info">Create Carousel Ads</button>
                      </div>

                        <div [ngClass]="{'hide': !fbAdsAdded}" class="bareP">
                            <p>Thanks! This Fb Ads form is submitted Succesfully! </p>
                        </div>
              
                      <!-- end of submit button-->
                            </div>
                            <!-- end of the 7th row-->
                            
                    </div>
                  </form>
                </div>
            </div><!--  end of medication reminder-->
    </div>
 </div>
