 <div class="main-content" id="fbContent">
    <div class="container-fluid">
          <onboarding-header-cmp [section]="section"></onboarding-header-cmp>
        <h3 id="fbPageTop"> Facebook Advertising </h3>
  
                
                  <form *ngIf="formReady" [formGroup]="fbAdsForm" class="formGroup" novalidate (ngSubmit)="save_fbAdsForm(fbAdsForm)">
                        <div class="row">
                        <div class="col-md-5">
                        <div class="card">
                              <div id="adPreviewSec" class="card-content table-responsive">
                              <h5 style="margin-bottom: 0;"><b>Ad Preview</b></h5>
                              <br>
                              <label for="adName">Select Campaign</label>
                               <p>View your pre-created/ existing Campaigns</p>
                                <select  id="showForm" class="form-control" (change)="changeShownAd(fbAdsForm.controls['showForm']._value);" formControlName="showForm">
                                    <option *ngFor="let ad of currentAdsList; let i = index;" value="{{i}}">{{ad.refname}}</option>
                                  </select>

                              <div id="adPreviewDiv">
                                    </div>
                          
                              <a class="btn btn-round btn-warning" (click)="generateAdPreview(fbAdsForm)">Show Preview</a>
                        </div>
                        </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                        <div class="card">
              <div class="card-content table-responsive">
               <!-- Account details row-->   
              <div class="row">
                    <div class="col-md-12" >
                              <div class="row">
                       <div class="col-md-4">
                            <div class="form-group">
                                 <label for="name">Reference Name</label>
                                 <p>Provide a name for this Ad Campaign</p>
                                  <input type="text"  id="refname" class="form-control" formControlName="name"/>
                            </div>
                    </div>
               </div>
                    <h5 style="margin-bottom: 0;"><b>Account Details</b></h5>
                    </div>

                    
                    <div class="col-md-4" >
                            <div class="form-group">
                                 <label for="adAccount">Ad Account </label>
                                 <p>Select your account that will be charged</p>
                                  <select  id="uid" class="form-control" formControlName="adAccount"  *ngIf="tempAdaccountId">
                                    <option *ngFor="let act of tempAdaccountId;" value="{{act.id}}">{{act.id}}</option>
                                  </select>
                                   
                            </div>
                    </div>
        
                  <div class="col-md-4">
                          <div class="form-group">
                               <label for="PageID">Page ID</label>
                               <p>Select the page to link to the ad</p>
                                <select  id="pageID" class="form-control" formControlName="pageID"  *ngIf="tempAdaccountId">
                                    <option *ngFor="let page of pageNameList;" value="{{page.id}}">{{page.name}}</option>
                                  </select>
                                
                          </div>
                  </div>
                 
              </div>
                  <!-- End of Account details row-->
                  <!-- Campaign details row-->      
                  <div class="row">
                        <div class="col-md-12">
                              <h5><b>Campaign Details</b></h5>
                        </div>
                                     <div class="col-md-4">
                            <div class="form-group">
                                 <label for="name">Campaign Name</label>
                                 <p>Provide a name for this Ad Campaign</p>
                                  <input type="text"  id="name" class="form-control" formControlName="name"/>
                            </div>
                    </div>
                      <div class="col-md-4">
                          <div class="form-group">
                               <label for="message">Message</label>
                               <p>Provide a Message Text for the Ad Campaign</p>
                                <input type="text"  id="msg" class="form-control" formControlName="msg"/>
                          </div>
                  </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                 <label for="caption">Headline </label>
                                 <p>Provide a Caption for this Ad Campaign</p>
                                  <input type="text"  id="caption" class="form-control" formControlName="caption"/>
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                 <label for="caption">Sub-text </label>
                                 <p>Provide a Sub-text for this Ad Campaign</p>
                                  <input type="text"  id="subtext" class="form-control" formControlName="subtext"/>
                            </div>
                    </div>
                      
                          <div class="col-md-4">
                        <div class="form-group">
                              <label for="siteLink">Site Link</label>
                              <p>Provide the website link you want to promote</p>
                              <input type="text"  id="link" class="form-control" formControlName="siteLink" />
                        </div>
                  </div>
                                  
                              <div class="col-md-4">
                        <div class="form-group">
                              <label for="callToAction">Call to Action Type</label>
                              <p>Provide the objective you want to drive</p>
                              <select  id="callToAction" class="form-control" formControlName="callToAction" >
                                    <option *ngFor="let cta of objectives; let i = index" value="{{i}}">{{cta.name}}</option>                          
                                    
                              </select>
                        </div>
                  </div>

                  </div>
                     <div class="row">
                                   
                    <app-image-search *ngIf="pageIdSelected && imgSearchType && imgReady" [savePath]="savePath" [searchType]="imgSearchType" [fbPageId]="pageIdSelected" [defaultKeyWord]="defaultImgSearch"></app-image-search>
                        
                     </div>
                  
                  <!-- Targeting details row-->      
                  <div class="row">
                        <div class="col-md-12">
                    <h5><b>Ad Targeting</b></h5>
                    </div>
                              <div class="col-md-4">
                          <div class="form-group">
                               <label for="targetCountry">Select Country</label>
                                <p>Select the target country</p>
                                  <select   id="targetCountry" class="form-control" formControlName="targetCountry" >
                                    <option value="IN">INDIA</option>    
                                    <option value="US">USA</option>   
                                    

                              </select>
                               
                          </div>
                  </div>
                  <div class="col-md-4">
                          <div class="form-group">
                               <label for="targetCity">Select City</label>
                                <p>Select the target City for the Ad</p>
                                   <input type="text"  style="width:70%; float: left; z-index: 10000;" id="targetCitySearch" class="form-control" formControlName="targetCitySearch" />
                               <a (click)="searchCity(fbAdsForm)" style="width:20%; float: left; z-index: 10000;">Search</a>
                          </div>
                               <div *ngIf="citiesReady" class="form-group">
                               <select id="targetCity" class="form-control" formControlName="targetCity">
                                    <option *ngFor="let city of cityList; let i = index;" value="{{city.key}}" [selected]="i == 0">{{city.name}}, {{city.region}}, {{city.country_name}}</option>
                                  </select>
                          </div>
                  </div>
                 
                        <div class="col-md-2">
                          <div class="form-group">
                               <label for="targetCity">Min Age</label>
                                <p>Of Audience</p>
                                   <select  id="min_age" class="form-control" formControlName="min_age">
                                    <option *ngFor="let age of ageGroup;" value="{{age}}">{{age}}</option>
                                  </select>
                                   
                               
                          </div>
                  </div>
            <div class="col-md-2">
                          <div class="form-group">
                               <label for="targetCity">Max Age</label>
                                <p>Of Audience</p>
                                   <select  id="max_age" class="form-control" formControlName="max_age">
                                    <option *ngFor="let age of ageGroup;" value="{{age}}">{{age}}</option>
                                  </select>
                          </div>
                  </div>
                  </div>
                  <div class="row">
                            <div class="col-md-4">
                          <div class="form-group">
                               <label for="targetCity">Other Targeting</label>
                                <p>Search other targeting criteria</p>
                                   <input type="text"  style="width:70%; float: left; z-index: 10000;" id="targetingSpecSearch" class="form-control" formControlName="targetingSpecSearch" />
                               <a (click)="detailedSearch(fbAdsForm.value)" style="width:20%; float: left; z-index: 10000;">Search</a>
                          </div>
                               <div class="form-group">
                               <select id="targetingSpecs" class="form-control" formControlName="targetingSpecs">
                                    <option *ngFor="let spec of tgtSpecList;" value="{{spec}}">{{spec.name}}, {{spec.type}} [Size: {{spec.audience_size}}]</option>
                                  </select>
                          </div>
                  </div>
                  </div>
                  <!-- End of Targeting details row-->   
                   <!-- Budget details row-->      
                  <div class="row">
                        <div class="col-md-12">
                    <h5><b>Ad Budget</b></h5>
                    </div>
                    <hr>
                  </div>
                  <!-- End of Budget details row-->  
                  <div class="row"> 
                  <div class="col-md-4">
                        <div class="form-group">
                              <label for="bID">Bid (in INR)</label>
                              <p>Provide a bid for each action selected</p>
                             
                               <input type="text"  class="form-control" formControlName="BID"/>
                              
                        </div>
                  </div>
                                    <div class="col-md-4">
                        <div class="form-group">
                              <label for="budget">Budget (in INR)</label>
                              <p>Provide a total budget for the Campaign</p>
                             
                               <input type="text"  class="form-control" formControlName="budget"/>
                              
                        </div>
                  </div>
            

                            </div> 
                            <!-- end of the first row-->
                             <!-- second row-->
                            <div class="row">
  

        
       
 

          

                            </div>
                            <!-- end of the second row-->
                         

                            <!-- fifth row-->
                            <div class="row">
                               <div class="col-md-4">
                                    <div class="form-group">
                                            <label for="body">Start Date</label>

                                           <input type="date" class="form-control" [(ngModel)]="minDate" min="{{minDate}}" value="{{strtDte}}" (change)="changeDate(fbAdsForm.controls['startdate'].value)" formControlName="startdate"/>
                                     </div>
                                 </div>   
                                 <div *ngIf="endDateReady" class="col-md-4">
                                    <div class="form-group">
                                            <label for="body">End Date</label>

                                           <input type="date" class="form-control" [(ngModel)]="maxDate" min="{{endMinDate}}" value="{{endDte}}" formControlName="enddate"/>
                                     </div>
                                 </div>   
                            </div>     
                           <!--end of fifth row-->
                           <!--6th row-->
                        
                           <!--end of the six row-->
                            <!-- 7th row-->
                            <div class="row">
                      <!-- submit button code    -->
                
                      <div class="pull-right" >
                          <button *ngIf="!waiting" [ngClass]="{'hide': fbAdsAdded}" type="submit" [disabled]="!fbAdsForm.valid" class="btn btn-info">Start Ad Campaign</button>
                          <p *ngIf="waiting"> Loading...</p>
                      </div>

                        <div [ngClass]="{'hide': !fbAdsAdded}" class="bareP">
                            <p>Thanks! This Fb Ads form is submitted Succesfully! </p>
                        </div>
              
                      <!-- end of submit button-->
                            </div>
                            <!-- end of the 7th row-->
                            
                    </div>
                    </div>
                        </div>
                  </div>
                  </form>
                
           
    </div>
 </div>
<div class="modal fade" id="fbModal" role="dialog" aria-labelledby="fbModalLabel" data-backdrop="static" data-keyboard="false" style="height: 100%; z-index:10000; background: rgba(0,0,0,0.5);">
  <div class="modal-dialog" role="document"  style="position: relative; margin-top: 20px;">
    <div class="modal-content" id="fbModal2">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="fbModalLabel" style="float: left;"><b>Oops! We need more work before starting Facebook Ads!</b></h4>
         </div>
         <div class="modal-body" >
         <p style="text-align: left;">
          <br>
          For running Facebook Ads, you must have a Facebook Page and Facebook Ad Account associated with your account. Seems like these may be missing for you.
         <br> 
         </p>
      
      
            <div *ngIf="pageMissing">
       
         <h3 class="title" style="float: left; color: #137a9c; text-align: left; font-size: 16px; font-weight: 400;">Setup Facebook Page</h3>
          <br>
<hr>
        <p style="text-align: left;">Setting up a Facebook page is easy. Just click on the button below and follow the instructions on Facebook. You can create a bare minimum page for now - we will help you beautify it! </p>
       <a class="btn btn-warning btn-round" href="https://www.facebook.com/pages/create/" target="blank">Create Page</a>
    </div>
         <div *ngIf="adAccountMissing">
        <p style="text-align: left;">
          
         <h3 class="title" style="float: left; color: #137a9c; text-align: left; font-size: 16px; font-weight: 400;">Setup Facebook Ad Account</h3>
          <br>
<hr>
        <p style="text-align: left;">To create a Facebook Ads account, you just need to add billing details to your account. Please click on the button below to complete this step. </p>
       <a class="btn btn-warning btn-round" href="https://www.facebook.com/ads/manage/settings.php" target="blank">Create Ad Account</a>
    </div>



        You can come back here once you have taken the necessary action on Facebook - we will be waiting for you 😊 
        <br>Alternatively, you can move on and come back here later, by clicking on 'Social' on the sidebar.
      </div>
      <div class="modal-footer" style="padding-bottom: 20px;">
        <button type="button" style="float: left; z-index: 10000; margin-left: 20px;" class="btn btn-primary" data-dismiss="modal" (click)="addDetails(caredOneId)">Done!</button>
        <button type="button" style="float: left; z-index: 10000;" class="btn btn-default" (click)="closeModal()">May be Later</button>
      </div>
    </div>
  </div>
  
</div>

<div class="modal fade" id="fbDoneModal" role="dialog" aria-labelledby="fbDoneModalLabel" data-backdrop="static" data-keyboard="false" style="height: 100%; z-index:10000; background: rgba(0,0,0,0.5);">
  <div class="modal-dialog" role="document"  style="position: relative; margin-top: 20px;">
    <div class="modal-content" id="fbDoneModal2">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="fbDoneModalLabel" style="float: left;"><b>Congratulations! Your ad is ready.</b></h4>
         </div>
         <div class="modal-body" >
         <p style="text-align: left;">
          <br>
          Below are the details of your campaign.
         <br> 
         </p>
      <div class="row">
     <div class="col-md-7" id="adDonePreviewDiv">
                                    </div>
        <div *ngIf="doneModal" class="col-md-5">
              <h4><b>Whom are we targeting?</b></h4>
              
              People living in <b >{{fullModel.targetCitySearch}}</b> between the age group of <b>{{fullModel.min_age}}</b> and  <b>{{fullModel.max_age}}</b>
             <br>
             <hr>
              <h4><b>When are we going to run the Ad?</b></h4>
             
              From <b>{{fullModel.startdate}}</b> to  <b>{{fullModel.enddate}}</b>
               <br>
               <hr>
    <h4><b>How much will we spend?</b></h4>
              
               We will spend <b>Rs.{{fullModel.BID}}</b> for each click to our website and will spend a maximum of <b>Rs.{{fullModel.budget}}</b> per day
      <br>  
    
      </div>  
      </div>


<div class="row">
        You will receive a mail from Facebook once the ad is approved. You can reach out to us at +919967092749.
        <br>Soon you will be able to see analytics about how your ads are performing
</div>
         </div>

      
      <div class="modal-footer" style="padding-bottom: 20px;">
        <!--<button type="button" style="float: left; z-index: 10000; margin-left: 20px;" class="btn btn-primary" data-dismiss="modal" (click)="addDetails(caredOneId)">Done!</button>-->
        <button type="button" style="float: left; z-index: 10000;" class="btn btn-primary" (click)="closeDoneModal()">Done</button>
      </div>
    </div>
  </div>
  
</div>
<app-social-calendar></app-social-calendar>