<div class="main-content">
    <div class="container-fluid">
          <!--hero tiles-->
        <app-herotiles *ngIf="herotiles"
         [herotiles]="herotiles"></app-herotiles>
         <!--end of hero tiles-->
         <!-- booking tiles-->
         <app-bookingtile *ngIf="bookingtiles"
         [bookingtiles]="bookingtiles"></app-bookingtile>
         <!-- end of booking tiles-->
         <!--slot booking -->
         <app-slot-booking></app-slot-booking>
         <!-- end of slot booking-->

       
    </div>
</div>