<div class="main-content">
    <div class="container-fluid">
          <!--hero tiles-->
        <app-herotiles *ngIf="herotiles && routeparam"
         [herotiles]="herotiles"  [routeparam]="routeparam"></app-herotiles>
         <!--end of hero tiles-->
         <!-- booking tiles-->
         <app-bookingtile *ngIf="bookingtiles && routeparam"
         [bookingtiles]="bookingtiles" [routeparam]="routeparam"></app-bookingtile>
         <!-- end of booking tiles-->
         <!--slot booking -->
         <app-slot-booking *ngIf="routeparam"
         [routeparam]="routeparam"></app-slot-booking>
         <!-- end of slot booking-->
         <!-- footer part-->
         <app-footer *ngIf="routeparam"
           [routeparam]="routeparam"></app-footer>
         <!-- end of footer tile -->
       
    </div>
</div>