
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" style="height: 100%; z-index:10000; background: rgba(0,0,0,0.5);">
  <div class="modal-dialog" role="document"  style="position: relative;">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="float: left;"><b>Congratulations!</b></h4>
      </div>
      <div class="modal-body" >
        <p style="text-align: left;">
          <br>
          You have added the Cared One. We will be conducting a consultation with our Specialists within the next 24 hours, and request for additional reports if needed. 
         <br> 
         </p>
         <h3 class="title" style="float: left; color: #137a9c; text-align: left; font-size: 16px; font-weight: 400;">What next?</h3>
          <br>
<hr>
        <p style="text-align: left;">You can now add further details and update reports for the Cared One by going to their Profile Page. You can add details such as</p>
       
    
           <div class="card card-stats">
                     
                        <div class="card-header" style="width: 60px; height: 60px; padding: 0;" data-background-color="orange">
<!--<i class="material-icons">content_copy</i>-->

<i class="material-icons" style="color: #ffffff; line-height: 60px">account_box</i>
</div> 
<div class="card-content" style="float: left; text-align: left;">
    
    <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400;">Update Profile
      <br><small style="float: left; font-size: 12px; line-height: 16px;">Add other profile details, such as address of the Cared One</small>
            
    </h3>
    
</div>

</div>
    <div class="card card-stats">
                     
                        <div class="card-header" style="width: 60px; height: 60px; padding: 0;" data-background-color="orange">
<!--<i class="material-icons">content_copy</i>-->

<i class="material-icons" style="color: #ffffff; line-height: 60px">visibility</i>
</div> 
<div class="card-content" style="float: left; text-align: left;">
    
    <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400;">Add Observers
            <br><small style="float: left; font-size: 12px; line-height: 16px;">Include family members who may be concerned about the Cared Ones health</small>
    </h3>
    
</div>

</div>
    <div class="card card-stats">
                     
                        <div class="card-header" style="width: 60px; height: 60px; padding: 0;" data-background-color="orange">
<!--<i class="material-icons">content_copy</i>-->

<i class="material-icons" style="color: #ffffff; line-height: 60px">folder_open</i>
</div> 
<div class="card-content" style="float: left; text-align: left;">
    
    <h3 class="title" style="float: left; color: #137a9c; font-size: 14px; font-weight: 400;">Add Health Reports
        <br><small style="float: left; font-size: 12px; line-height: 16px;">Add existing health reports for the Cared One </small>
    </h3>
    
</div>

</div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addDetails(caredOneId)">Add Details</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  
</div>