 <div class="col-md-12">
                <div class="card">
                  <form [formGroup]="bookingTile" class="formGroup" novalidate (ngSubmit)="save_bookingTile(bookingTile)">
                    <!-- card header portion-->
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Follow-up Booking Section</h4>

                        <p class="category">Section for existing patients to book an online follow-up consultation</p>

                    </div> <!-- card header portion end-->
                    
              <div class="card-content table-responsive">
                  
              <div class="row">
                       <!-- title-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="title">Title </label>
                                 <input type="text" class="form-control" formControlName="title"/>
                            </div>
                    </div><!--end of title -->
                     <!-- fee-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="title">Fee</label>
                                 <input type="text" class="form-control" formControlName="fee"/>
                            </div>
                    </div><!--end of fee -->
                    <!-- Card Title-->
                    <div class="col-sm-4">  
                            <div class="form-group">
                                 <label for="title"> Card Title</label>
                                 <input type="text" class="form-control" formControlName="card_title"/>
                            </div>
                    </div><!--end of card Title -->
                    
  
                            </div> <!-- end of 1st row-->
                            <!--second row-->
                <div class="row">
                    <!-- About-->
                    <div class="col-md-4">  
                            <div class="form-group">
                                 <label for="title">About</label>
                                 <input type="text" class="form-control" formControlName="about"/>
                            </div>
                    </div>
                    <!--end of About  -->
                     <!-- booking tile text-->
                    <div class="col-md-4">  
                            <div class="form-group">
                                 <label for="title">Text for site</label>
                                 <input type="text" class="form-control" formControlName="booking_text"/>
                            </div>
                    </div>
                    <!--end of booking tile text -->
                    <!-- card title -->
                    <div class="col-sm-3">  
                            <div class="form-group">
                                 <label for="title">Tile</label>
                                 <input type="text" class="form-control" formControlName="tile"/>
                            </div>
                    </div><!--end of card title -->
                </div>
                <!-- end of second row-->
                <!-- third row-->
                <div class="row">
                      <div class="col-md-4">  
                        <div class="checkbox">
                        <label style="padding-top:15px;">
                          <input type="checkbox" name="optionsCheckboxes" checked formControlName="fileUpload">
                          File Upload
                        </label>
                      </div>          
                    </div>

                    <div class="col-md-4">  
                        <div class="checkbox">
                        <label style="padding-top:15px;">
                          <input type="checkbox" name="optionsCheckboxes" checked formControlName="bg_Pic">
                          click for background pic
                        </label>
                      </div>          
                    </div>
                    <!-- submit button code    -->
                <div class="col-md-4"> 
                
                      <div class="pull-right" >
                          <button  type="submit" [ngClass]="{'hide': bookingTileAdded}"  [disabled]="!bookingTile.valid" class="btn btn-round btn-warning">Save</button>
                      </div>
                      
                       <div [ngClass]="{'hide': !bookingTileAdded}" class="bareP">
                            <p>Thanks! Tile is Added </p>
                        </div>
                </div>
<!-- end of submit button-->
                </div>  <!-- end of third row-->
                 
                

                    </div>
                  </form>
                </div>
            </div> 