
<form  [formGroup]="carePathWays" (keydown.enter)="$event.preventDefault()" class="form" style="margin-top:10%; margin-bottom:0%" 
  novalidate>

      <div class="row">
           <div class="col-sm-10 col-md-offset-1">
                 <div class="card"  style="padding-top: 0px;margin-top: 55px;">
                      <div class="card-stats">
                              <div class="card-header" data-background-color="cureyo" style="margin-left: 2em;">
                              <i class="fa fa-heartbeat" aria-hidden="true" style="color: #ffffff;  font-size: -webkit-xxx-large;"></i>
                              </div>
        <!-- ********************************************************************************************************************************************************-->    
        <div class="card-content" style="float: left; text-align: left;">

            <h3 class="title">
            <small style="float: left; font-size: 20px; line-height:auto;padding-top: 15px">Select a Pathway to view</small>
            </h3>
              
        <!-- ****************************************************************************-->       
                <div style="margin: 10px;">
          
                <form [formGroup]="findCarePaths" class="form">
                        <div class="row" style="margin-top: 10px;">
                              <div style="margin: 10px; float: left; z-index: 100000; width: 80%;">
                                      <div class="form-group form-black label-floating is-not-empty">
                                            <div class="form-group">

                                                    <label class="control-label">Select a Care Plan</label>
                                                    <select formControlName="carePath" class="form-control" (change)="existingCarePathWaysID.showCarePath(findCarePaths.value)">
                                                    <option [attr.selected]="" value="{{j.$key}}" *ngFor="let j of carePathsAvlbl">{{j.path}}</option>            
                                                    </select>

                                            </div>
                                      </div>
                              </div>
                        </div>
                </form>
            </div> <!-- <div style="margin: 10px;">-->


            <!-- ****************************************************************************--> 
            
          
              <h3 class="title">
                    <small style="float: left; font-size: 20px; line-height:auto;padding-top: 15px">Or Create a new one</small>
              </h3>


            <!-- ****************************************************************************-->
                <div class="clearfix" style="margin-right: 10px;">
                      <div>
                            <div class="form-group">
                                  <button class="btn btn-primary btn-round" 
                                  (click)="createCarePathWaysID.createPathways()">Create Pathway</button>
                            </div>
                      </div>
                </div> 
              <!-- ****************************************************************************--> 
            </div> <!--end of card content-->
      <!-- ********************************************************************************************************************************************************-->         
        
                      </div> <!--end of card stats-->
                  </div> <!--end of card-->
              </div> <!-- end of col-md-10-->
        </div>  <!-- end of row-->
        <!-- this is the component used for to create path ways-->
        <!--<app-create-path-ways  #createCarePathWaysID></app-create-path-ways>-->
        <app-existing-path-ways #existingCarePathWaysID></app-existing-path-ways>


        


</form>

  


